[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/contracts"]
	path = lib/contracts
	url = https://github.com/thirdweb-dev/contracts
[submodule "lib/hats-protocol"]
	path = lib/hats-protocol
	url = https://github.com/Hats-Protocol/hats-protocol
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady/
[submodule "lib/evm-tableland"]
	path = lib/evm-tableland
	url = https://github.com/tablelandnetwork/evm-tableland
[submodule "lib/openzeppelin"]
	path = lib/openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
